.advantages {
  width: 100%;
  min-height: 664px;
  display: flex;

  margin-bottom: 118px;

  background-color: $color-gray;
}

.advantages__wrapper {
  position: relative;
  width: 1040px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;

  text-align: center;

  h2 {
    display: block;

    margin: 0;
    margin-top: 118px;
    margin-bottom: 42px;

    @include h2styles;
    line-height: 100%;
    color: $color-dark-blue;
  }
}

.advantages__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 22px;
  padding: 0;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  color: $color-dark-blue;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__item {
  width: 340px;
  display: flex;

  margin-bottom: 109px;

  &:first-child {
    margin-left: 19px;
  }
}

.advantages__block {
  display: flex;
  flex-direction: column;

  text-align: left;

  b {
    font-size: 71px;
    line-height: 150%;
    font-weight: 700;
    color: $color-dark-blue;

    background: linear-gradient(100deg, #d10a42, #0041ca 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span {
    display: block;

    margin-top: -22px;

    font-size: 14px;
    line-height: 150%;
    color: #2e35ac;
  }
}

.advantages__item-container {
  display: block;

  margin-left: 32px;

  text-align: left;

  h3 {
    display: block;

    margin-top: 24px;
    margin-bottom: 9px;

    font-size: 22px;
    font-weight: bold;
  }

  p {
    display: block;

    @include nullify;
    padding-right: 10px;

    font-size: 16px;
    line-height: 140%;
    font-weight: 300;
  }
}

.advantages__container {
  position: absolute;
  top: 237px;
  left: 400px;

  width: 240px;
  height: 307px;
  display: flex;
  flex-direction: column;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  line-height: 150%;
  color: $color-white;

  background-color: #1c3374;

  b {
    display: block;

    margin-top: 80px;
    margin-bottom: 35px;

    font-size: 74px;
    font-weight: 700;
  }

  h3 {
    display: block;

    @include nullify;
    margin-bottom: 24px;


    font-size: 26px;
    font-weight: 700;
    text-transform: none;
  }

  p {
    display: block;

    padding: 0 25px;
    font-size: 16px;
  }
}

@media (max-width: $tablet-width) {
  .advantages {
    min-height: 755px;

    margin-bottom: 99px;
  }

  .advantages__wrapper {
    width: 88%;
    max-width: 800px;

    h2 {
      margin-top: 99px;
      margin-bottom: 28px;

      font-size: 42px;
    }
  }

  .advantages__block {
    b {
      font-size: 58px;
    }

    span {
      margin-top: -18px;
    }
  }

  .advantages__list {
    margin-bottom: 42px;
  }

  .advantages__item {
    width: 323px;

    margin: 0;

    &:first-child {
      margin-left: 0;
    }
  }

  .advantages__item-container {
    margin-left: 29px;

    h3 {
      margin-top: 18px;
      margin-bottom: 5px;

      font-size: 20px;
    }
  }

  .advantages__container {
    position: relative;
    top: 0;
    left: 0;

    width: 65%;
    height: auto;

    margin: 0 auto;
    margin-bottom: 27px;

    h3 {
      margin-bottom: 18px;

      font-size: 22px;
    }

    b {
      margin-top: 59px;
      margin-bottom: 29px;
    }

    p {
      margin: 0;
      padding: 0 127px;
      padding-bottom: 38px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    margin-bottom: 68px;
    padding-bottom: 65px;
  }

  .advantages__wrapper {
    width: 100%;

    margin: 0;

    h2 {
      margin-top: 69px;
      margin-bottom: 30px;

      font-size: 32px;
    }
  }

  .advantages__list {
    width: 88%;
    max-width: 500px;
    flex-direction: column;

    margin: 0 auto;
    margin-bottom: 44px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__item {
    width: 100%;

    flex-direction: column;
    align-items: center;

    &:first-child {
      margin-bottom: 21px;
    }

    text-align: center;
  }

  .advantages__block {
    text-align: center;
  }

  .advantages__item-container {
    margin: 0;

    text-align: center;

    p {
      padding: 0 27px;

      &:first-child {
        padding: 49px;
      }

      br {
        display: none;
      }
    }

    h3 {
      margin-top: 8px;
      margin-bottom: 5px;
    }
  }

  .advantages__container {
    width: 100%;

    p {
      padding: 0 70px;
      padding-bottom: 42px;
    }

    b {
      margin-top: 63px;
      margin-bottom: 24px;
    }

    h3 {
      margin-bottom: 14px;
    }
  }
}
