.catalog__list {
  width: 100%;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;

  @include nullify;
  list-style: none;
}

.catalog__list--active {
  display: flex;
}

.catalog__item {
  width: 360px;
  min-height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  padding-top: 63px;

  background-color: $color-white;
  text-align: center;
  z-index: 1;

  &:hover {
    width: 360px;

    padding-top: 56px;

    border: 7px solid transparent;
    border-image: linear-gradient(to right bottom, #d10a42 5%, #00359f 100%);
    border-image-slice: 1;

    b {
      top: 130px;
      left: 71px;
    }

    a {
      padding: 27px 0;
      border: none;
      background-image: linear-gradient(112deg, #ed0233 17.6%, #003eb7 95.3%);

      color: $color-white;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  h3 {
    @include nullify;
    margin-bottom: 10px;


    font-size: 26px;
    line-height: 29px;
    font-weight: 700;
    color: $color-dark-blue;
  }

  span {
    margin-bottom: 65px;

    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: $color-dark-gray;
  }

  a {
    width: 207px;
    display: block;

    margin: 0 auto;
    padding: 25px 0;

    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $color-dark-blue;
    text-transform: uppercase;

    border: 2px solid $color-dark-blue;
    background-color: transparent;

    cursor: pointer;
  }
}

.catalog__price {
  display: block;

  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;

  font-size: 60px;
  line-height: 150%;
  font-weight: 700;
  color: $color-blue;

  b {
    display: block;
    position: absolute;
    top: 137px;
    left: 77px;

    font-size: 100px;
    line-height: 150%;
    color: $color-light-gray;

    z-index: -1;
  }
}

@media (max-width: $tablet-width) {
  .catalog__item {
    width: 442px;
    min-height: 448px;

    margin: 0 auto;
    margin-bottom: 40px;

    a {
      width: 47%;
    }

    &:hover {
      width: 100%;

      b {
        left: 26%;
      }
    }
  }

  .catalog__price {
    b {
      left: 27%;
    }
  }
}

@media (max-width: $mobile-width) {
  .catalog__price {
    margin-bottom: 30px;

    font-size: 48px;

    b {
      top: 31%;
      left: 22%;

      font-size: 80px;
    }

    svg {
      width: 24px;
      height: 33px;
    }
  }

  .catalog__item {
    width: 290px;
    min-height: 385px;

    margin-bottom: 35px;
    padding-top: 52px;

    &:hover {
      width: 290px;

      padding-top: 44px;

      a {
        width: 75%;

        padding: 25px 0;
      }

      b {
        top: 30%;
        left: 21%;
      }
    }

    h3 {
      font-size: 22px;
      line-height: 24px;
    }

    span {
      margin-bottom: 53px;
    }

    a {
      width: 72%;

      padding: 24px 0;
    }
  }

  .catalog__item--active {
    padding-top: 45px;
  }
}
