.contacts {
  width: 50%;

  border-top: 1px solid #74819c;

  h2 {
    color: $color-dark-blue;
  }
}

.contacts__wrapper {
  width: 410px;
  display: flex;
  flex-direction: column;

  margin-top: 61px;
  margin-left: 120px;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  color: $color-dark-blue;

  h2 {
    margin: 0;
    margin-bottom: 34px;
  }
}

.contacts__container {
  position: relative;
  width: 404px;
  display: flex;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 58%;

    width: 1px;
    height: 90%;

    background: #74819c;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include nullify;

  &:first-child {
    flex: 1 1 auto;

    margin-left: 5px;
  }

  span {
    display: block;

    margin-bottom: 4px;

    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }

  p {
    @include nullify;

    font-size: 14px;
    font-weight: 400;
    line-height: 152.3%;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 152.3%;
    color: $color-dark-blue;
  }
}

.contacts__item {
  &:first-child {
    margin-bottom: 16px;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 100%;

    padding-bottom: 62px;

    border: none;
  }

  .contacts__wrapper {
    width: 61.5%;

    @include nullify;
    margin-top: 69px;
    margin-left: 133px;
  }

  .contacts__container {
    width: 96.5%;

    &::before {
      top: 7px;
      left: 58.4%;

      height: 93.5%;
    }
  }

  .contacts__list {
    &:first-child {
      margin: 0;
    }

    span {
      font-size: 20px;
    }

    p {
      font-size: 18px;
    }

    a {
      font-size: 18px;
    }
  }

  .contacts__item {
    &:first-child {
      margin-bottom: 20px;
    }

    span {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts__wrapper {
    width: 90%;

    margin-top: 70px;
    margin-left: 15px;

    h2 {
      margin-bottom: 35px;
    }
  }

  .contacts__container {
    width: 100%;
    flex-direction: column;

    &::before {
      display: none;
    }
  }

  .contacts__list {
    &:first-child {
      margin-bottom: 20px;
    }
  }
}
