.description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include nullify;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  line-height: 150%;
  text-align: center;
  color: $color-white;

  background-color: rgba(16, 38, 84, 0.89);
  z-index: 10;

  b {
    @include nullify;
    margin-top: 52px;

    font-size: 18px;
    font-weight: 700;
  }

  span {
    margin-bottom: 31px;

    font-size: 16px;
    color: #b6bdcc;
  }
}

.description__list {
  width: 185px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  padding-left: 34px;

  list-style: disc;
}

.description__item {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

@media (max-width: $tablet-width) {
  .description {
    b {
      margin-left: -10px;
    }

    span {
      margin-left: -10px;
    }
  }

  .description__list {
    width: 192px;

    padding-left: 32px;
  }
}

@media (max-width: $mobile-width) {
  .description {
    height: 100%;

    b {
      margin-top: 44px;
      margin-left: 0;
    }

    span {
      margin-left: 0;
    }
  }
}
