.footer-bottom {
  background-color: #030a1a;

  a {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.footer-bottom__wrapper {
  width: 86%;
  max-width: 1172px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 40px 0;
}

.footer-bottom__logo {
  a {
    display: block;

    margin-top: 5px;
    margin-left: 6px;
  }
}

@media (max-width: $tablet-width) {
  .footer-bottom__wrapper {
    width: 90%;

    padding: 43px 0;

    text-align: left;
  }

  .footer-bottom__logo {
    svg {
      width: 82px;
      height: 18px;
    }
  }
}

@media (max-width: $mobile-width) {
  .footer-bottom__wrapper {
    width: 100%;
    max-width: 500px;

    flex-direction: column;
    align-items: flex-start;

    margin-left: 15px;
    padding: 51px 0;
  }

  .footer-bottom__logo {
    a {
      margin: 0;
    }

    svg {
      width: 69px;
      height: 15px;
    }
  }
}
