.main-offer__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;

  padding-left: 45px;

  color: $color-white;

  background-color: #ed0233;

  span {
    display: block;

    margin-top: 34px;

    font-size: 28px;
    line-height: 156%;
    font-weight: 700;
  }

  h3 {
    display: block;

    margin: 0;
    margin-top: -25px;
    padding: 0;

    font-size: 70px;
    line-height: 156%;
    font-weight: 700;
  }

  p {
    margin: 0;
    padding: 0;
    padding-right: 40px;

    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
  }

  a {
    display: block;
    position: relative;

    margin-top: auto;
    margin-bottom: 47px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-white;

    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    &::after {
      content: "";
      position: absolute;
      top: 16px;
      left: 0;

      width: 80px;
      height: 1px;

      background-color: $color-white;
    }
  }
}

@media (max-width: $tablet-width) {
  .main-offer__wrapper {
    width: 41%;

    padding: 0;
    padding-left: 45px;

    a {
      margin-bottom: 46px;
    }

    p {
      margin-bottom: 31px;
      padding: 0;
      padding-right: 40px;
    }

    h3 {
      margin-bottom: -1px;
    }
  }
}

@media (max-width: $mobile-width) {
  .main-offer__wrapper {
    width: 100%;

    padding: 0;

    text-align: center;

    p {
      padding: 0 47px;
    }

    a {
      &::after {
        left: 107px;
      }
    }

    h3 {
      margin-bottom: -3px;
    }
  }
}
