.main-info {
  min-height: 602px;

  margin: 0 auto;
  padding: 0;

  color: $color-white;
}

.main-info__wrapper {
  width: 1165px;
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;

  img {
    height: 556px;
  }
}

.main-info__about-us {
  position: relative;

  width: 400px;
  display: flex;
  flex-direction: column;

  @include nullify;

  b {
    display: block;

    font-size: 49px;
    line-height: 49px;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: right;

    margin-top: 110px;
    margin-bottom: 14px;
  }

  h1 {
    font-size: 109px;
    line-height: 109px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: right;

    @include nullify;
    margin-bottom: 56px;
  }

  p {
    position: absolute;
    top: 286px;
    left: 10px;

    width: 125px;
    display: block;

    font-family: "Roboto Condense", "Roboto", sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    text-transform: none;
    text-align: right;
  }
}

.main-info__btn {
  width: 235px;
  display: block;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;

  margin-left: auto;
  margin-right: 0;
  padding: 20px;

  border: 4px solid $color-white;
  background: transparent;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .main-info__wrapper {
    width: 88%;
    max-width: 800px;

    img {
      width: 323px;
      height: 390px;
    }
  }

  .main-info__about-us {
    width: 324px;

    b {
      font-size: 34px;
      line-height: 34px;

      margin-top: 54px;
      margin-bottom: 6px;
    }

    h1 {
      font-size: 86px;
      line-height: 86px;

      margin-bottom: 40px;
    }

    p {
      top: 172px;
      left: 0;

      width: 113px;
    }
  }

  .main-info__btn {
    width: 185px;
  }

  .main-info {
    min-height: 475px;
  }
}

@media (max-width: $mobile-width) {
  .main-info {
    min-height: 434px;
  }

  .main-info__wrapper {
    max-width: 500px;
    justify-content: center;

    img {
      display: none;
    }
  }

  .main-info__about-us {
    b {
      font-size: 28px;
      line-height: 28px;

      margin-bottom: 13px;
    }

    h1 {
      font-size: 78px;
      line-height: 78px;

      margin-bottom: 43px;
    }

    p {
      top: 162px;
    }
  }

  .main-info__btn {
    width: 290px;
  }
}
