.navigation {
  width: 431px;
}

.navigation__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-left: 11px;
  padding: 0;

  a {
    font-family: "Roboto Condense", "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: $color-white;
    text-align: center;
  }
}
