.navigation {
  width: 431px;
}

.navigation__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include nullify;
  margin-left: 11px;
  list-style: none;

  a {
    font-family: "Roboto Condense", "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: $color-white;
    text-align: center;
  }
}

@media (max-width: $tablet-width) {
  .navigation__list {
    width: 90.5%;

    margin: 0;
    margin-left: 34px;
  }
}

@media (max-width: $mobile-width) {
  .navigation {
    width: 100%;
    max-width: 320px;

    margin-top: -21px;
    margin-bottom: 36px;
  }

  .navigation__list {
    width: 100%;
    max-width: 316px;
    height: 99px;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;

    a {
      font-size: 16px;
    }
  }

  .navigation__item {
    &:first-child {
      width: 90px;

      margin-top: 41px;
      margin-bottom: 10px;
    }

    &:last-child {
      margin: 0;
    }
  }
}
