.news {
  width: 500px;
  display: flex;

  background-color: #ed0233;
  text-align: center;
}

.news__wrapper {
  width: 343px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;

  a {
    display: block;
    width: 100%;

    padding: 25px 0;

    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $color-white;
    text-transform: uppercase;

    border: 4px solid $color-white;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.news__description {
  display: block;
  width: 300px;

  margin-top: 0;
  margin-bottom: 46px;
  padding: 0;

  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.news__container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-top: 83px;
  margin-bottom: 10px;

  h2 {
    display: block;

    @include nullify;
    margin-right: 49px;

    font-family: "Bebas Neue", "Roboto", sans-serif;
    font-style: normal;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-align: left;
  }
}

.news__list {
  width: 100%;
  display: block;

  @include nullify;

  text-align: left;
  list-style: none;

  h3 {
    display: block;

    @include nullify;
    padding-right: 27px;
    padding-bottom: 5px;

    font-size: 18px;
    font-weight: 400;
  }

  span {
    display: block;
    padding: 0;
    padding-right: 8px;

    font-size: 40px;
    font-weight: 700;
  }
}

.news__item {
  width: 90%;
}

.news__clock {
  width: 90%;

  margin-top: 17px;

  span {
    padding-top: 12px;

    border-top: 1px solid $color-white;
  }
}

.news__item-wrapper {
  display: block;

  margin-top: 5px;

  span {
    @include nullify;
    margin-top: -6px;

    font-size: 14px;
    font-weight: 400;
  }
}

.news__item-container {
  width: 65px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include nullify;

  border-top: 1px solid $color-white;

  b {
    display: block;
  }
}

@media (max-width: $tablet-width) {
  .news {
    width: 74%;
  }

  .news__container {
    width: 99%;
    height: 106px;

    margin-top: 44px;
    margin-bottom: 0;

    h2 {
      margin: 0;
      padding-top: 5px;

      font-size: 52px;
      line-height: 52px;
    }
  }

  .news__list {
    width: 58px;

    @include nullify;

    h3 {
      @include nullify;
      padding-bottom: 2px;

      font-size: 12px;
    }

    span {
      @include nullify;

      font-size: 24px;
    }
  }

  .news__item {
    width: 100%;
  }

  .news__clock {
    width: 100%;

    margin-top: -2px;

    span {
      display: inline-block;
      margin-top: -3px;
    }
  }

  .news__wrapper {
    width: 70%;

    a {
      padding: 12px 0;

      font-size: 10px;

      border: 2px solid $color-white;
    }
  }

  .news__item-wrapper {
    margin-top: 10px;
    margin-left: 4px;

    span {
      @include nullify;
      margin-top: -13px;

      font-size: 10px;
    }
  }

  .news__item-container {
    width: 40px;
    height: 33px;

    margin-top: -4px;
  }

  .news__description {
    margin-bottom: 26px;

    font-size: 12px;
  }
}

@media (max-width: $mobile-width) {
  .news {
    width: 100%;
  }

  .news__wrapper {
    padding-bottom: 50px;
  }

  .news__container {
    width: 100%;
  }
}
