.overview {
  width: 100%;
  min-height: 635px;
}

.overview__wrapper {
  width: 1165px;

  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
}

.overview__offers {
  width: 355px;

  display: flex;
  flex-direction: column;

  text-align: left;
  text-transform: uppercase;
  color: $color-dark-blue;

  margin-top: 47px;
  margin-left: 63px;

  h2 {
    font-size: 49px;
    line-height: 49px;
    font-weight: 700;
    letter-spacing: 0.03em;

    @include nullify;
    margin-bottom: 8px;
  }

  h3 {
    font-family: "Roboto Condense", "Roboto", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    text-transform: none;

    @include nullify;
    margin-bottom: 30px;
  }

  p {
    font-family: "Roboto Condense", "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
    text-transform: none;

    @include nullify;
    padding-top: 9px;
  }
}

.overview__pucture {
  position: relative;
  display: flex;
  width: 662px;

  z-index: 2;
}

.overview__container {
  position: absolute;
  top: 289px;
  left: -63px;

  display: block;
  width: 364px;
  height: 228px;

  background-image: url("../img/gym-photo-movie.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;

  @media (min-resolution: $retina-dppx),
    (min-resolution: $retina-dpi) {
    background-image: url("../img/gym-photo-movie@2x.jpg");
    background-size: contain;
  }

  z-index: 1;

  &::before {
    position: inherit;
    content: "";

    width: inherit;
    height: inherit;

    top: 0;
    left: 0;

    background-color: rgba(20, 54, 122, 0.5);

    z-index: 0;
  }
}

.overview__btn {
  position: absolute;
  top: 74px;
  left: 143px;

  display: block;
  width: 77px;
  height: 77px;

  border: 3px solid transparent;
  border-radius: 50%;
  background-clip: padding-box;
  background-image: linear-gradient(45deg, #003d85, #b80027);

  cursor: pointer;

  svg {
    display: block;
    width: 15px;
    height: 15px;

    position: inherit;
    top: 28px;
    left: 30px;
  }

  &:hover {
    box-shadow: 0 0 10px #b80027;
  }

  &:active {
    opacity: 0.7;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: -5px;

    border-radius: inherit;
    background: linear-gradient(to right bottom, #ed0233, #003eb7);
    opacity: 0.2;
    z-index: -1;
  }
}

@media (max-width: $tablet-width) {
  .overview {
    min-height: 658px;

    padding-bottom: 183px;
  }

  .overview__wrapper {
    width: 88%;
    max-width: 800px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .overview__offers {
    width: 100%;

    @include nullify;

    text-align: center;

    h2 {
      font-size: 42px;
      line-height: 42px;
    }

    h3 {
      margin-bottom: 34px;
    }

    p {
      display: block;
      width: 85%;

      margin: 0 auto;
      margin-bottom: 43px;
      padding: 0;
    }

    p:last-child {
      display: none;
    }
  }

  .overview__pucture {
    width: 678px;

    margin: 0 auto;
  }

  .overview__container {
    top: 261px;
    left: 205px;

    width: 266px;
    height: 167px;

    background-size: contain;
  }

  .overview__btn {
    width: 57px;
    height: 57px;

    top: 55px;
    left: 104px;

    svg {
      width: 12px;
      height: 12px;

      top: 19px;
      left: 21px;
    }
  }
}

@media (max-width: $mobile-width) {
  .overview {
    min-height: 840px;

    padding-bottom: 0;
  }

  .overview__wrapper {
    position: relative;
    width: 100%;
    max-width: 560px;
  }

  .overview__offers {
    width: 90%;

    text-align: left;

    h2 {
      margin-bottom: 6px;
      font-size: 32px;
      line-height: 32px;
    }

    h3 {
      margin-bottom: 24px;

      font-size: 18px;
      line-height: 150%;
    }

    p {
      width: 91%;

      margin: 0;
      padding-bottom: 33px;

      text-align: left;
    }
  }

  .overview__pucture {
    width: 100%;
    max-width: 500px;
    flex-direction: column;

    padding-bottom: 70px;

    img {
      width: 100%;
      height: 313px;
    }
  }

  .overview__container {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 320px;

    margin: 0 auto;
    margin-top: 35px;

    background-image: url("../img/gym-photo-movie-phone.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;

    @media (min-resolution: $retina-dppx),
      (min-resolution: $retina-dpi) {
      background-image: url("../img/gym-photo-movie-phone@2x.png");
    }

    &::before {
      position: absolute;
    }
  }

  .overview__btn {
    top: 57px;
    left: 132px;
  }
}
