.reviews {
  position: relative;

  padding-bottom: 120px;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  color: $color-white;
}

.reviews__description {
  display: block;

  @include nullify;
  margin-bottom: 52px;

  font-family: "Bebas Neue", "Roboto", sans-serif;
  font-style: normal;
  font-size: 49px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $color-dark-blue;
  text-align: center;
}

.reviews__wrapper {
  width: 675px;
  overflow: hidden;

  margin: 0 auto;
  padding: 0;
}

.reviews__list {
  width: 560px;
  height: 242px;
  display: flex;

  margin: 0 auto;
  padding: 0;

  transition: margin-left 250ms;
}

.reviews__item {
  display: flex;
  width: 100%;
  max-width: 560px;
  height: 242px;

  @include nullify;

  background-color: #1c3374;

  img {
    display: block;

    margin: 0;
    margin-top: 62px;
    margin-left: 62px;
  }
}

.reviews__item-container {
  width: 330px;

  margin: 0;
  margin-top: 54px;
  margin-left: 28px;
  padding: 0;

  p {
    @include nullify;

    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  }

  h3 {
    display: block;

    margin: 0;
    margin-bottom: 13px;
    padding: 0;

    font-size: 20px;
    line-height: 150%;
    font-weight: 700;
    text-transform: none;
  }
}

.reviews__btn {
  position: absolute;
  top: 44%;

  border: none;
  background: transparent;

  cursor: pointer;
  z-index: 100;

  svg {
    stroke: #afafaf;

    &:hover {
      stroke: $color-black;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.reviews__btn--left {
  left: 25%;
}

.reviews__btn--right {
  right: 25%;
}

@media (max-width: $tablet-width) {
  .reviews {
    padding-bottom: 100px;
  }

  .reviews__description {
    margin-bottom: 41px;
    font-size: 42px;
  }

  .reviews__wrapper {
    width: 680px;
  }


  .reviews__btn--left {
    left: 5%;
  }

  .reviews__btn--right {
    right: 5%;
  }

  .reviews__item {
    max-width: 566px;

    img {
      margin-top: 62px;
      margin-left: 65px;
    }
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    padding-bottom: 70px;
  }

  .reviews__description {
    margin-bottom: 43px;
    font-size: 32px;
  }

  .reviews__wrapper {
    width: 295px;
  }

  .reviews__list {
    width: 226px;
    height: 335px;

    margin: 0 auto;
  }

  .reviews__item {
    width: 100%;
    max-width: 226px;
    height: 335px;
    flex-direction: column;

    margin: 0;

    img {
      width: 68px;
      height: 68px;

      margin-top: 40px;
      margin-left: 41px;
    }
  }

  .reviews__item-container {
    position: relative;
    width: 176px;
    flex-direction: column;

    margin: 0 auto;

    h3 {
      position: absolute;
      top: -60px;
      right: 0;

      width: 77px;

      @include nullify;

      line-height: 130%;
    }

    p {
      margin-top: 16px;

      text-align: center;
    }
  }

  .reviews__btn {
    top: 48.5%;

    svg {
      width: 10px;
      height: 19px;
    }
  }

  .reviews__btn--left {
    left: 2.8%;
  }

  .reviews__btn--right {
    right: 2.8%;
  }
}
