.salles {
  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  text-align: left;

  h2 {
    display: block;

    margin: 0;
    margin-bottom: 52px;
    padding: 0;

    font-family: "Bebas Neue", "Roboto", sans-serif;
    font-style: normal;
    font-size: 49px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $color-dark-blue;
    text-align: center;
  }
}

.salles__wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-bottom: 50px;
}

.salles__container {
  width: 560px;
  height: 462px;
  display: flex;

  img {
    width: 100%;
  }
}

.salles__list {
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  color: #1c3374;
}

.salles__item {
  padding-left: 28px;

  border: 7px solid transparent;
  border-image: linear-gradient(to right bottom, #d10a42 5%, #00359f 100%);
  border-image-slice: 1;

  span {
    display: block;

    margin-top: 17px;
    margin-bottom: 4px;

    font-size: 26px;
    line-height: 150%;
    font-weight: 700;
  }

  p {
    display: block;

    margin: 0;
    margin-bottom: 70px;
    padding: 0;

    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
  }

  a {
    display: block;
    position: relative;

    margin-bottom: 30px;

    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1c3374;

    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;

      width: 69px;
      height: 1px;

      background-color: #1c3374;
    }
  }
}

@media (max-width: $tablet-width) {
  .salles {
    h2 {
      margin-bottom: 41px;

      font-size: 42px;
    }
  }

  .salles__wrapper {
    max-width: 678px;
    flex-direction: column;
  }

  .salles__container {
    width: 100%;

    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;

    text-align: left;
  }

  .salles__list {
    width: 100%;
    flex-direction: row;
  }

  .salles__item {
    width: 48%;

    span {
      margin-top: 18px;
    }

    &:first-child {
      p {
        margin-bottom: 47px;
        padding-right: 66px;
      }

      a {
        margin-bottom: 30px;
      }
    }

    a {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: $mobile-width) {
  .salles {
    h2 {
      font-size: 32px;
    }
  }

  .salles__wrapper {
    width: 91%;
    max-width: 299px;

    text-align: center;
  }

  .salles__container {
    width: 100%;
    height: auto;
    flex-direction: column;

    margin-bottom: 24px;

    img {
      width: 100%;
    }
  }

  .salles__list {
    flex-direction: column;
  }

  .salles__item {
    width: 100%;

    margin-bottom: 30px;
    padding: 0;

    p {
      margin-bottom: 26px;
      padding: 0 55px;
    }

    &:first-child {
      p {
        margin-bottom: 26px;
        padding: 0 50px;
      }

      a {
        margin-bottom: 41px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      margin-top: 29px;
      margin-bottom: 4px;
    }

    a {
      margin-bottom: 41px;

      &::after {
        left: 105px;
      }
    }
  }
}
