/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  @include nullify;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
  }
}

.slick-track {
  position: relative;
  display: flex;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  height: 100%;
  min-height: 1px;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
    margin: 0;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow {
  position: absolute;
  top: 45%;

  width: 18px;
  height: 34px;

  font-size: 0;
  border: none;
  cursor: pointer;
  z-index: 10;

  background: none;
  stroke: #afafaf;

  &:hover {
    stroke: $color-black;
  }

  &:active {
    opacity: 0.3;
  }
}

.slick-prev {
  left: 0;

  background-image: url("../img/btn-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.slick-next {
  right: 0;

  background-image: url("../img/btn-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.reviews__list {
  .slick-arrow {
    top: 43%;
  }

  .slick-prev {
    left: -57px;
  }

  .slick-next {
    right: -57px;
  }

  .slick-slide {
    img {
      margin-top: 62px;
      margin-left: 62px;
    }
  }
}

@media (max-width: $tablet-width) {
  .trainers__list {
    .slick-arrow {
      top: 44%;
    }

    .slick-prev {
      left: -55px;
    }

    .slick-next {
      right: -55px;
    }
  }

  .reviews__list {
    .slick-slide {
      img {
        margin-top: 40px;
        margin-left: 41px;
      }
    }

    .slick-prev {
      left: -60px;
    }

    .slick-next {
      right: -60px;
    }
  }
}

@media (max-width: $mobile-width) {
  .slick-arrow {
    width: 10px;
    height: 20px;

    top: 44%;

    background-size: contain;
  }

  .trainers__list {
    .slick-prev {
      left: -34px;
    }

    .slick-next {
      right: -34px;
    }
  }

  .slick-prev {
    left: -34px;
  }

  .slick-next {
    right: -34px;
  }

  .reviews__list {
    .slick-slide {
      img {
        margin-top: 40px;
        margin-left: 41px;
      }
    }

    .slick-arrow {
      top: 47%;
    }

    .slick-prev {
      left: -34px;
    }

    .slick-next {
      right: -34px;
    }
  }
}
