.social {
  margin-top: 409px;
  padding-left: 85px;
}

.social__list {
  min-height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  list-style: none;
}

.social__link {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-width) {
  .social {
    display: none;
  }
}
