.subscription {
  width: 50%;

  background-color: $color-dark-blue;
}

.subscription__wrapper {
  width: 410px;
  display: flex;
  flex-direction: column;

  margin-top: 62px;
  margin-left: auto;
  margin-right: 171px;

  padding-bottom: 67px;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: $color-white;
  text-align: left;

  h2 {
    margin: 0;
    margin-bottom: 38px;
  }
}

.subscription__form {
  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  input {
    width: 100%;

    padding-bottom: 6px;

    box-sizing: border-box;
    color: $color-white;
    outline: none;

    &:hover {
      opacity: 0.7;
    }

    &::placeholder {
      font-family: "Roboto Condense", "Roboto", sans-serif;
      font-style: normal;
      font-size: 14px;
      color: $color-white;
      text-align: left;
    }

    background: transparent;
    border: none;
    border-bottom: 1px solid #74819c;
  }

  p {
    width: 190px;

    @include nullify;
  }
}

.subscription__btn {
  display: block;
  width: 100%;

  margin-top: 28px;
  padding: 17px;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;

  border: 3px solid $color-white;
  background: transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .subscription {
    width: 100%;

    padding-bottom: 67px;
  }

  .subscription__wrapper {
    width: 61.5%;

    @include nullify;
    margin-top: 69px;
    margin-left: 133px;
  }

  .subscription__form {
    p {
      width: 43.7%;
    }
  }

  .subscription__btn {
    margin-top: 29px;
  }
}

@media (max-width: $mobile-width) {
  .subscription {
    padding-bottom: 29px;
  }

  .subscription__wrapper {
    width: 91%;
    max-width: 500px;

    margin: 0 auto;
    margin-top: 69px;

    h2 {
      margin-bottom: 40px;
    }
  }

  .subscription__form {
    margin-bottom: 40px;

    form {
      display: flex;
      flex-direction: column;
    }

    p {
      width: 100%;

      &:first-child {
        margin-bottom: 37px;
      }
    }
  }

  .subscription__btn {
    margin-top: 38px;
    padding: 16px;
  }
}
