.suggestions {
  width: 100%;
  min-height: 851px;

  background-color: $color-gray;
}

.suggestions__wrapper {
  width: 1160px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  padding-top: 120px;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;

  h2 {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;

    font-family: "Bebas Neue", "Roboto", sans-serif;
    font-size: 49px;
    line-height: 49px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $color-dark-blue;
    text-transform: uppercase;
  }
}

.sugestions__tools-wrapper {
  position: relative;
  width: 340px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;
}

.suggestions__catalog-wrapper {
  width: 1160px;
  display: flex;

  margin: 0 auto;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .suggestions {
    min-height: 1779px;
  }

  .suggestions__wrapper {
    width: 88%;

    padding-top: 95px;

    h2 {
      margin-bottom: 10px;

      font-size: 42px;
      line-height: 42px;
    }
  }

  .sugestions__tools-wrapper {
    width: 49%;

    margin-bottom: 44px;
  }

  .suggestions__catalog-wrapper {
    width: 66%;
  }
}

@media (max-width: $mobile-width) {
  .suggestions__wrapper {
    width: 90%;

    padding-top: 65px;

    h2 {
      font-size: 32px;
    }
  }

  .sugestions__tools-wrapper {
    width: 100%;

    margin-bottom: 33px;
  }

  .suggestions__catalog-wrapper {
    width: 100%;
  }
}
