.suggestions {
  position: relative;
  width: 100%;
  min-height: 851px;

  background-color: $color-gray;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    width: 320px;
    height: 384px;

    background-image: url("../img/rogue.png");
    background-repeat: no-repeat;
    background-position: 33px 41px;

    @media (min-resolution: $retina-dppx),
      (min-resolution: $retina-dpi) {
      background-image: url("../img/rogue@2x.png");
      background-size: 288px 495px;
    }
  }
}

.suggestions__wrapper {
  width: 1160px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  padding-top: 120px;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;

  h2 {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;

    font-family: "Bebas Neue", "Roboto", sans-serif;
    font-size: 49px;
    line-height: 49px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $color-dark-blue;
    text-transform: uppercase;
  }
}

.suggestions__tools-wrapper {
  position: relative;
  width: 340px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-bottom: 38px;
  padding: 0;
}

.suggestions__catalog-wrapper {
  width: 1160px;
  display: flex;

  margin: 0 auto;
  padding: 0;
}

@media (max-width: $tablet-width) {
  .suggestions {
    min-height: 1779px;

    &::after {
      width: 305px;
      height: 345px;

      background-image: url("../img/rogue-tablet.png");
      background-size: auto;
      background-position: -42px 23px;

      @media (min-resolution: $retina-dppx),
        (min-resolution: $retina-dpi) {
        background-image: url("../img/rogue-tablet@2x.png");
        background-size: 349px 439px;
        background-position: -44px 25px;
      }
    }
  }

  .suggestions__wrapper {
    width: 88%;

    padding-top: 95px;

    h2 {
      margin-bottom: 10px;

      font-size: 42px;
      line-height: 42px;
    }
  }

  .suggestions__tools-wrapper {
    width: 49%;

    margin-bottom: 44px;
  }

  .suggestions__catalog-wrapper {
    width: 66%;
  }
}

@media (max-width: $mobile-width) {
  .suggestions {
    min-height: 1488px;

    &::after {
      display: none;
    }
  }

  .suggestions__wrapper {
    width: 90%;

    padding-top: 65px;

    h2 {
      font-size: 32px;
    }
  }

  .suggestions__tools-wrapper {
    width: 100%;
    max-width: 500px;

    margin-bottom: 33px;
  }

  .suggestions__catalog-wrapper {
    width: 100%;
    max-width: 500px;
  }
}
