.table-main {
  display: table-row-group;
}

.table-main__list {
  display: table-row;

  list-style: none;
}

.table-main__item {
  display: table-cell;
  width: 148px;
  height: 110px;

  line-height: 150%;
  text-align: center;
  vertical-align: middle;
  background-color: $color-gray;

  &--active {
    border: 2px solid #1c3374;
  }

  &:hover {
    border: 2px solid #ed0233;
    color: #ed0233;
  }
}

@media (max-width: $tablet-width) {
  .table-main__item {
    width: 147px;
    height: 108px;
  }
}

@media (max-width: $mobile-width) {
  .table-main {
    display: flex;
    flex-direction: column;

    margin-top: 69px;
  }

  .page-shedule__container--open {
    .table-main__list {
      display: none;
    }
  }

  .table-main__list {
    display: flex;
  }

  .table-main__item {
    width: 223px;
    height: 80px;

    margin-bottom: 8px;
    margin-right: 20px;
    padding-top: 26px;

    &--active,
    &:hover {
      padding-top: 24px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
