.table-header {
  display: table-header-group;
}

.table-header__list {
  display: table-row;

  list-style: none;
}

.table-header__item {
  display: table-cell;
  width: 148px;

  padding: 20px 0;

  text-align: center;
  vertical-align: middle;
  border: 2px solid #1c3374;

  &--active {
    background: #ed0233;
    border-color: transparent;
    color: $color-white;
  }
}

.table-header__btn {
  display: none;
}

@media (max-width: $tablet-width) {
  .table-header__item {
    width: 147px;
  }
}

@media (max-width: $mobile-width) {
  .table-header {
    position: absolute;
    width: 224px;
    display: block;
  }

  .table-header__list {
    position: absolute;
    display: flex;
    flex-direction: column;

    background: $color-white;
  }

  .table-header__item {
    width: 173px;
    height: 58px;

    padding: 0;
    padding-top: 19px;

    &--active {
      border: transparent;
      border-right: 2px solid #1c3374;
    }

    &:first-child {
      padding-left: 15px;
    }

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .table-header__btn {
    position: absolute;
    top: 0;
    right: 1px;

    display: block;
    width: 50px;
    height: 60px;

    border: 2px solid #1c3374;
    border-left: none;
    background: $color-white;
    cursor: pointer;
  }

  .page-shedule__container--open,
  .page-shedule__container--close {
    .table-header__btn {
      &::before,
      &::after {
        content: "";

        position: absolute;
        top: 27px;

        width: 15px;
        height: 2px;

        background: #1c3374;
      }
    }
  }

  .page-shedule__container--open {
    .table-header__list {
      position: absolute;
      top: 0;
      left: 0;

      z-index: 10;
    }

    .table-header__btn {
      &::before {
        right: 21px;
        transform: rotate(132deg);
      }

      &::after {
        right: 12px;
        transform: rotate(48deg);
      }
    }
  }

  .page-shedule__container--close {
    .table-header__item {
      display: none;

      &--active {
        height: 60px;
        display: block;
      }
    }

    .table-header__btn {
      &::before {
        right: 12px;
        transform: rotate(132deg);
      }

      &::after {
        right: 21px;
        transform: rotate(48deg);
      }
    }
  }
}
