.tools__link {
  display: block;

  margin: 0;
  margin-right: 46px;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
  color: $color-dark-blue;
  opacity: 0.5;

  border: none;
  background: transparent;

  &:last-child {
    margin-right: 0;
  }

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.tools__link--active {
  padding-bottom: 10px;

  border-bottom: 2px solid $color-dark-red;
  opacity: 1;
}

.tools__full-range {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 2px;

  background-color: rgba(120, 120, 120, 0.2);
}

@media (max-width: $tablet-width) {
  .tools__link {
    margin-right: 54px;

    font-size: 18px;
  }
}

@media (max-width: $mobile-width) {
  .tools__link {
    margin-right: 45px;
    padding-top: 7px;

    font-size: 16px;
    line-height: 24px;
  }

  .tools__link--active {
    padding-bottom: 12px;
  }
}
