.trainers {
  position: relative;
  width: 100%;
  min-height: 513px;
}

.trainers__wrapper {
  position: relative;
  width: 1160px;
  overflow: hidden;

  margin: 0 auto;
  padding: 0;

  h2 {
    display: block;

    margin: 0;
    margin-bottom: 50px;
    padding: 0;

    font-family: "Bebas Neue", "Roboto", sans-serif;
    font-style: normal;
    font-size: 49px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $color-dark-blue;
  }
}

.trainers__btn {
  position: absolute;
  top: 228px;

  border: none;
  background: transparent;

  cursor: pointer;
  z-index: 100;

  svg {
    stroke: #afafaf;

    &:hover {
      stroke: $color-black;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.trainers__btn--left {
  left: 3%;
}

.trainers__btn--right {
  right: 3%;
}

.trainers__list {
  display: flex;

  margin: 0;
  padding: 0;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  line-height: 150%;
  text-align: center;
  color: $color-white;

  transition: margin-left 250ms;
}

.trainers__item {
  position: relative;
  height: 294px;
  flex: 0 0 260px;

  margin-right: 40px;

  h3 {
    display: block;
    margin: 0 auto;
    margin-top: -55px;

    font-size: 18px;
    font-weight: 700;
  }

  &:hover {
    .trainers__description {
      display: flex;
    }

    h3 {
      display: none;
    }
  }
}

.trainers__description {
  display: none;
}

@media (max-width: $tablet-width) {
  .trainers {
    min-height: 478px;
  }

  .trainers__wrapper {
    width: 74%;
    max-width: 568px;

    h2 {
      margin-bottom: 41px;

      font-size: 42px;
      text-align: center;
    }
  }

  .trainers__item {
    flex: 0 0 270px;
    margin-right: 30px;

    img {
      width: 268px;
      height: 294px;
    }
  }

  .trainers__btn {
    top: 212px;
  }

  .trainers__btn--left {
    left: 5%;
  }

  .trainers__btn--right {
    right: 5%;
  }
}

@media (max-width: $mobile-width) {
  .trainers {
    min-height: 419px;
  }

  .trainers__wrapper {
    width: 71%;
    max-width: 227px;

    h2 {
      font-size: 32px;
    }
  }

  .trainers__item {
    flex: 0 0 228px;
    margin: 0;

    img {
      height: 276px;
    }
  }

  .trainers__btn {
    top: 202px;

    svg {
      width: 10px;
      height: 19px;
    }
  }

  .trainers__btn--left {
    left: 3%;
  }

  .trainers__btn--right {
    right: 3%;
  }
}
