.trainers {
  position: relative;
  width: 100%;
  min-height: 515px;
}

.trainers__wrapper {
  position: relative;
  width: 100%;
  max-width: 1276px;
  overflow: hidden;

  margin: 0 auto;
  padding: 0 60px;

  h2 {
    display: block;

    @include nullify;
    margin-bottom: 52px;

    @include h2styles;
    line-height: 100%;
    color: $color-dark-blue;
  }
}

.trainers__btn {
  position: absolute;
  top: 228px;

  border: none;
  background: transparent;

  cursor: pointer;
  z-index: 100;

  svg {
    stroke: #afafaf;

    &:hover {
      stroke: $color-black;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.trainers__btn--left {
  left: 3%;
}

.trainers__btn--right {
  right: 3%;
}

.trainers__list {
  display: flex;
  height: 294px;

  margin: 0 -40px 0 0;
  padding: 0;

  font-family: "Roboto Condense", "Roboto", sans-serif;
  font-style: normal;
  line-height: 150%;
  text-align: center;
  color: $color-white;

  transition: margin-left 250ms;
  list-style: none;
}

.trainers__item {
  position: relative;
  display: inline-block;

  margin-right: 40px;

  height: 294px;
  width: 260px;

  h3 {
    display: block;
    margin: 0 auto;
    margin-top: -47px;

    font-size: 18px;
    font-weight: 700;
  }

  &:hover {
    .trainers__description {
      display: flex;
      width: 100%;
      height: 100%;
    }

    h3 {
      display: none;
    }
  }
}

.trainers__description {
  display: none;
}

@media (max-width: $tablet-width) {
  .trainers {
    min-height: 478px;
  }

  .trainers__wrapper {
    width: 100%;
    max-width: 680px;

    padding: 0 58px;

    h2 {
      margin-bottom: 41px;
      margin-left: 0;

      font-size: 42px;
      text-align: center;
    }
  }

  .trainers__list {
    margin: 0 -32px 0 0;
  }

  .trainers__item {
    width: 268px;

    margin-right: 30px;

    h3 {
      margin-left: 5px;
    }

    img {
      width: 268px;
      height: 294px;
    }
  }

  .trainers__btn {
    top: 212px;
  }

  .trainers__btn--left {
    left: 5%;
  }

  .trainers__btn--right {
    right: 5%;
  }
}

@media (max-width: $mobile-width) {
  .trainers {
    min-height: 419px;
  }

  .trainers__wrapper {
    width: 100%;
    max-width: 295px;

    padding: 0;

    h2 {
      font-size: 32px;
    }
  }

  .trainers__list {
    width: 226px;

    margin: 0 auto;
  }

  .trainers__item {
    width: 226px;
    height: 274px;

    margin: 0;

    img {
      width: 226px;
      height: 274px;
    }

    &:hover {
      .trainers__description {
        width: 100%;
      }
    }
  }

  .trainers__btn {
    top: 202px;

    svg {
      width: 10px;
      height: 19px;
    }
  }

  .trainers__btn--left {
    left: 3%;
  }

  .trainers__btn--right {
    right: 3%;
  }
}
