@import "variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;

  font-family: "Bebas Neue", "Roboto", sans-serif;
  color: $color-black;
  background-color: $color-white;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: $tablet-width) {
  body {
    max-width: 1199px;
  }
}

@media (max-width: $mobile-width) {
  body {
    max-width: 767px;
  }
}
