@import "fonts";
@import "global";
@import "variables";
@import "blocks/advantages";
@import "blocks/catalog";
@import "blocks/description";
@import "blocks/main-info";
@import "blocks/news";
@import "blocks/page-header";
@import "blocks/promo";
@import "blocks/reviews";
@import "blocks/social";
@import "blocks/suggestions";
@import "blocks/tools";
@import "blocks/trainers";
