@import "fonts";
@import "global";
@import "mixin";
@import "variables";
@import "blocks/advantages";
@import "blocks/catalog";
@import "blocks/column";
@import "blocks/contacts";
@import "blocks/description";
@import "blocks/footer-bottom";
@import "blocks/main-info";
@import "blocks/main-offer";
@import "blocks/navigation";
@import "blocks/news";
@import "blocks/overview";
@import "blocks/page-footer";
@import "blocks/page-header";
@import "blocks/page-shedule";
@import "blocks/promo";
@import "blocks/reviews";
@import "blocks/salles";
@import "blocks/social-footer";
@import "blocks/social";
@import "blocks/subscription";
@import "blocks/suggestions";
@import "blocks/table-header";
@import "blocks/table-main";
@import "blocks/tools";
@import "blocks/trainers";
