$color-white: #ffffff;
$color-black: #000000;
$color-red: #a60630;
$color-dark-red: #d10a42;
$color-dark-blue: #102654;
$color-dark-gray: #495a7d;
$color-light-gray: #e8e8e8;
$color-gray: #f8f9fc;
$color-blue: #103aae;

$tablet-width: 1199px;
$mobile-width: 767px;

$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
